@model List<LojaModel>

@{
    ViewBag.Title = "Detalhes da Loja";
}

<div class="container">
    <br />
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Lojas:</h1>
        <a class="btn btn-success" asp-action="CriaLoja" asp-controller="Loja">Criar Loja</a>
    </div>
    
    @foreach (var loja in Model)
    {
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="text-center"><strong>Nome:</strong></td>
                    <td class="text-center"><strong>Descrição:</strong></td>
                    <td class="text-center"><strong>Logradouro:</strong></td>
                    <td class="text-center"><strong>Número:</strong></td>
                    <td class="text-center"><strong>Cidade:</strong></td>
                    <td class="text-center"><strong>Ações:</strong></td>
                </tr>
                <tr>
                    <td class="text-center">@loja.Nome</td>
                    <td class="text-center">@loja.Descricao</td>
                    <td class="text-center">@loja.Logradouro</td>
                    <td class="text-center">@loja.Numero</td>
                    <td class="text-center">@loja.Cidade</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-secondary rounded m-1" asp-controller="Loja" asp-action="EditarLoja" asp-route-LojaId="@loja.LojaId">Editar</a>
                            <a class="btn btn-outline-danger rounded m-1" asp-controller="Loja" asp-action="DeletarLoja" asp-route-LojaId="@loja.LojaId">Deletar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
