@using Microsoft.AspNetCore.Identity
@inject SignInManager<UsuarioModel> signInManager;
@inject UserManager<UsuarioModel> userManager;
@{
    var user = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arqtech</title>
    <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/Spacelab.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Arqtech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Admin") || User.IsInRole("Arquiteto") || User.IsInRole("Engenheiro"))
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="IndexUsuario">Usuarios</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Material" asp-action="IndexMaterial">Materias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Loja" asp-action="IndexLoja">Lojas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Projeto" asp-action="IndexProjeto">Projetos</a>
                                </li>
                                <li class="nav-item d-flex justify-content-start">
                                    <form asp-area="" asp-controller="Usuario" asp-action="Logout" method="post" class="nav-link">
                                        <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; margin:0 0 0 0.1em; cursor: pointer;">
                                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                                <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                            </div>
                                            <span class="nav-link-text ms-1">@user.Nome @user.Sobrenome</span>
                                        </button>
                                    </form>
                                </li>
                            }
                            else if (User.IsInRole("Cliente"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Projeto" asp-action="IndexProjeto">Projetos</a>
                                </li>
                                <li class="nav-item d-flex justify-content-start">
                                    <form asp-area="" asp-controller="Usuario" asp-action="Logout" method="post" class="nav-link">
                                        <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; margin:0 0 0 0.1em; cursor: pointer;">
                                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                                <i class="ni ni-button-power text-sm opacity-10" style="color: #00365d"></i>
                                            </div>
                                            <span class="nav-link-text ms-1">@user.Nome @user.Sobrenome</span>
                                        </button>
                                    </form>
                                </li>
                            }

                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="CriaUsuario">Registre-se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 

    <footer class="border-top footer text-muted ">
        <div class="container">
            <div class="row align-items-center" style="height: 60px;">
                @* <div class="col-md-3">
                    <h4 class="text-black">Entre em Contato</h4>
                    <p class="text-white">
                        Para mais informações sobre nossos serviços, entre em contato conosco:<br>
                        Email: <a class="text-white">contato@arqtech.com</a><br>
                        Telefone: (XX) XXXXX-XXXX
                    </p>
                </div> *@
                <div class="col-md-6 text-white d-flex align-items-center justify-content-end">
                    <a>&copy; 2024 - Desenvolvido por Caio Maestrello e Dhiego Arsuffi.</a>
                </div>
            </div>
        </div>
    </footer>

@*     <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-2 border-top ">
            <div class="col-md-6 d-flex align-items-center">
                <h3 class="text-black">Entre em Contato</h3>
                <p class="text-black">
                    Para mais informações sobre nossos serviços, entre em contato conosco:<br>
                    Email: <a class="text-black">contato@arqtech.com</a><br>
                    Telefone: (XX) XXXXX-XXXX
                </p>
            </div>
            <div class="col-md-6 text-black d-flex align-items-center justify-content-end">
                <a>&copy; Arqtech - Desenvolvido por Caio Maestrello e Dhiego Arsuffi</a>
            </div>
        </footer>
    </div> *@
    <script src="~/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
