@model List<MaterialModel>

@{
    ViewData["Title"] = "Materiais";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="mb-3 text-left" style="color: white">Materiais</h3>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success col-2 rounded" asp-area="" asp-controller="" asp-action="">Criar novo material</a>
        <div class="mt-5">
            <div class="table-responsive" style="border-radius: 15px">
                <table class="table table-striped">
                    <thead class="table cor-unifaat">
                        <tr>
                            <th class="text-center text-white" scope="col">Nome</th>
                            <th class="text-center text-white" scope="col">Preço</th>
                            <th class="text-center text-white" scope="col">Descrição</th>
                            <th class="text-center text-white" scope="col">Loja</th>
                            <th class="text-center text-white" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in Model)
                        {
                            <tr>
                                <td class="text-center">@material.Nome</td>
                                <td class="text-center">@material.Preco.ToString("C2")</td>
                                <td class="text-center">@material.Descricao</td>
                                <td class="text-center">@material.Loja.Nome</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary rounded m-1" asp-controller="" asp-action="" asp-route-id="@material.MaterialId">Detalhes</a>
                                        <a class="btn btn-outline-danger rounded m-1" asp-controller="" asp-action="" asp-route-id="@material.MaterialId">Deletar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
