@model List<ProjetoModel>

@{
    ViewData["Title"] = "Projetos";
}

<div class="container-fluid">
    <div class="p-3 mb-3">
        <h3 class="mb-3 text-left" style="color: white">Projetos</h3>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success col-2 rounded" asp-area="" asp-controller="Projeto" asp-action="CriaProjeto">Criar novo projeto</a>
        <div class="mt-5">
            @if (Model.Count > 0)
            {
                <div class="table-responsive" style="border-radius: 15px">
                    <table class="table table-striped">
                        <thead class="table cor-unifaat">
                            <tr>
                                <th class="text-center text-black" scope="col">Nome</th>
                                <th class="text-center text-black" scope="col">Valor Pedreiro</th>
                                <th class="text-center text-black" scope="col">Valor Material</th>
                                <th class="text-center text-black" scope="col">Valor Projeto Arquiteto</th>
                                <th class="text-center text-black" scope="col">Valor Total Projeto</th>
                                <th class="text-center text-black" scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var projeto in Model)
                            {
                                <tr>
                                    <td class="text-center">@projeto.Nome</td>
                                    <td class="text-center">@projeto.ValorPedreiro.ToString("C2")</td>
                                    <td class="text-center">@projeto.ValorMaterial.ToString("C2")</td>
                                    <td class="text-center">@projeto.ValorProjetoArquiteto.ToString("C2")</td>
                                    <td class="text-center">@projeto.ValorTotalProjeto.ToString("C2")</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-primary rounded m-1" asp-controller="Projeto" asp-action="DetalhesProjeto" asp-route-ProjetoId="@projeto.ProjetoId">Detalhes</a>
                                            <a class="btn btn-primary rounded m-1" asp-controller="Projeto" asp-action="EditarProjeto" asp-route-ProjetoId="@projeto.ProjetoId">Editar</a>
                                            <a class="btn btn-primary rounded m-1" asp-controller="Projeto" asp-action="DeletarProjeto" asp-route-ProjetoId="@projeto.ProjetoId">Deletar</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Não existem projetos disponíveis no momento.
                </div>
            }
        </div>
    </div>
</div>
